table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width : 100px;
    height: 40px;
}
th, td {
    padding: 20px;
}
th {
    text-align: center;
}
